<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:each="user : ${users}">

    <a th:href="@{/admin/id(id=${user.getId()})}"
       th:text="${'Name: ' + user.getUsername() + '.'}"
    >user</a>
    <br/>
    <a th:href="@{/admin/change/id(id=${user.getId()})}" th:text="edit_user">change</a>
    <form th:method="POST" th:action="@{/admin/id(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
    <hr>
</div>
<div>
    <br/>
    <a th:href="@{/admin/new}" th:text="'Add new user.'"></a>
</div>
<div>
    <input style="color:black;" type="button" value="Logout" onclick="window.location.href='/logout'">
</div>
</body>
</html>
