<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User_show</title>
</head>
<body>
<p th:text="User">VALUE</p>
<p th:text="'id: ' + ${user.getUser_id()}">VALUE</p>
<p th:text="'Name: ' + ${user.getUsername()}">VALUE</p>
<p th:text="'Password: ' + ${user.getPassword()}">VALUE</p>
<div>
    <label for="roles">Roles:</label>
    <a id="roles" th:field="*{user}" size="2" multiple="multiple">
        <p th:each="oneRole : ${user.getRoles()}"
           th:value="${{oneRole}}"
           th:text="${oneRole.getRole()}">
        </p>
    </a>
</div>
<br/>
<a th:href="@{/admin}" th:text="Users"></a>
</body>
</html>